
body{
	height:550px;
	width:450px;
}
h1{
	font-size:50px;
	color:#1B95D1;
	margin:center;
}
input{
	height:50px;
	font-size:20px;
	margin-bottom:20px;
	margin-left:center;
}
button{
	background-color:#6CC7F3;
	border-radius:15px;
	height:50px;
	width:300px;
	font-size:30px;
	color:white;
	border:none;
}